@import "helpers.css";
@import "inputs.css";
@import "global.css";
@import "colours.css";
@import "project-card.css";
@import "stakeholder-modal.css";
@import "stakeholder-view-mode-window.css";
@import "time-series.css";
@import "nav-bar.css";
@import "name-badge.css";

.scatter-cube{
  position: fixed;
  top:-43px;
  left: 0;
  z-index: -1;
}

.project-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  overflow: visible;
  transform: translateZ(0);
}
