@import "helpers.css";
@import "inputs.css";
@import "global.css";
@import "colours.css";
@import "project-card.css";
@import "stakeholder-modal.css";
@import "stakeholder-view-mode-window.css";
@import "time-series.css";
@import "nav-bar.css";

.scatter-cube{
  position: fixed;
  top:-43px;
  left: 0;
  z-index: -1;
}
