:root {
  --pulseBlack: rgb(34, 38, 40);
  --teal: rgb(63, 228, 196);
  --darkBlue: rgb(40,51,62);
  --lightBlue: rgb(0, 255, 235);
  --lime: rgb(223, 255, 0);
  --orange: rgb(255, 170, 37);
  --darkGrey: rgb(108, 110, 111);
  --borderBlue: rgb(102, 129, 159);
}
