/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: white;
  background-color: var(--pulseBlack);
  font-family: "neuzeit-grotesk";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

[data-ember-action] {
  cursor: pointer;
}

.page-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 20pt;
  font-weight: 900;
  letter-spacing: 0.08em;
}

.action-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  margin: auto;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, color(var(--pulseBlack) alpha(0)), var(--pulseBlack) 40%);
}
.action-footer.blue-footer{
  background-image: linear-gradient(to bottom, color(var(--darkBlue) alpha(0)), var(--darkBlue) 40%);
}

.action-footer button{
  margin-left: 2em;
  margin-right: 2em;
}

.fancy-corners{
  position: relative;
}
.fancy-corners::before{
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: -1px;
  left: -1px;
  border-top: solid 1px white;
  border-left: solid 1px white;
}

.fancy-corners::after{
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-text{
  font-size: 10pt;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin-left: 1em;
  margin-right: 1em;
}
.title-rule {
  flex-grow: 1;
  height: 1px;
  border: none;
  background-color: color(white alpha(-40%))
}

.close-button{
  position: fixed;
  top: 1.91em;
  left: 1.91em;
  transform: scale(1, 1);
}

.close-button img{
  width: 100%;
  height: auto;
}

.close-button:hover{
  transform: scale(1.2, 1.2);
}

.fade-out-animation{
  animation: 250ms ease-in fade-out;
}

.fade-in-animation{
  animation: 250ms ease-out fade-in;
}
