.main-nav{
  width:100%;
  height:45px;
  border-bottom: solid 1px rgb(151, 151, 151);
  display: flex;
}

.main-nav .nav-items{
  width: calc(100%/3);
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  border-right: solid 1px rgb(151, 151, 151);
  font-weight: 600;
  letter-spacing: 0.09em;
  font-size: 10pt;
  background-color: color(var(--pulseBlack) alpha(-5%))
}

.main-nav .nav-items a{
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding-top: 1.1em;
  text-decoration: none;
}

.main-nav .nav-items a:hover{
  color: var(--darkBlue);
  background-color: var(--teal);
  font-weight: 900;
}
.main-nav .nav-items:last-child{
  border-right: none;
}
