.notification-container {
  position: fixed;
  bottom: 100px;
  width: 100%;
  display: flex;
  z-index: 100;
  pointer-events: none;
}

.notifcation-alert {
  pointer-events: auto;
  border: solid 1px color(white alpha(-50%));
  background: color(var(--darkBlue) alpha(-5%));
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.alert-message {
  margin: 0;
  margin-left: 0.5em;
  margin-right: 5em;
}
