.scatter-cube {
  position: fixed;
  top: -43px;
  left: 0;
  z-index: -1;
}

.threejs-hover {
  cursor: pointer;
}

.filter-modal {
  position: absolute;
  font-size: 11pt;
  width: 250px;
  right: 30px;
  top: 10vh;
  border: solid 1px var(--borderBlue);
  background: color(var(--darkBlue) alpha(-5%));
  padding: 1em;
}

.filter-modal-note {
  margin: 0;
}

.filter-modal .close-button {
  position: absolute;
  width: 1em;
  right: 1em;
  top: 1.05em;
  left: inherit;
}

.scatter-cube-loading {
  color: white;
  font-size: 17pt;
  position: fixed;
  top: 45vh;
  height: 17pt;
  width: 100%;
  text-align: center;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
