.stakeholder-card {
  flex-grow: 1;
  flex-basis: 0;
  flex-wrap: wrap;
  margin: 0.5em;
  cursor: pointer;
  transition: transform 200ms;
  flex-basis: 300px;
  min-width: 300px;
  align-items: flex-start;
  display: inline-flex;
  width: 100%;
  height: 100%;
  border: solid 1px white;
  background-color: color(var(--pulseBlack) alpha(-10%));
  padding: 1em;
  transform: translateZ(0);
  opacity: 1;
}

.stakeholder-card [contenteditable=true] {
  position: relative;
}

.stakeholder-card [contenteditable=true]::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  border-bottom: solid 1px white;
  opacity: 0.5;
}

.stakeholder-card [contenteditable=true]:focus::after {
  opacity: 1;
  border-bottom: solid 1px var(--teal);
}

.stakeholder-card footer {
  flex: 1 100%;
}

.stakeholder-card.is-deleting {
  animation-name: fade-out !important;
  animation-duration: 300ms;
  opacity: 0;
}

.stakeholder-card.edit-mode,
.stakeholder-card.edit-mode:hover {
  transition: transform 300ms;
  transform: translate3d(0, 0, 1em);
}

.stakeholder-card:hover {
  transform: translateZ(0.05em);
}

.stakeholder-card:focus {
  transform: translateZ(0);
}

.stakeholder-card-info {
  margin-left: 1em;
  height: 80px;
  display: block;
}

.stakeholder-card .stakeholder-image-container {
  min-width: 80px;
  min-height: 80px;
  border: solid color(white alpha(-70%)) 1px;
}

.stakeholder-card.selected .stakeholder-image-container {
  border: solid color(white alpha(-30%)) 1px;
}

.stakholder-list-name {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.stakeholder-card::before {
  transition: opacity 200ms;
  opacity: 0;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: solid 3px var(--teal);
  pointer-events: none;
}

.stakeholder-card::after {
  transition: opacity 200ms;
  opacity: 0;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: color(var(--teal) alpha(-95%));
  pointer-events: none;
}

.stakeholder-card.selected::after {
  opacity: 1;
  content: "";
  z-index: -1;
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: color(var(--teal) alpha(-95%));
}

.stakeholder-card.selected::before {
  opacity: 1;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: solid 3px var(--teal);
}

.stakeholder-card.selected .stakeholder-card {
  animation-name: stateholder-select;
  animation-duration: 250ms;
}
