.stakeholder-card{
  /*flex: 4 flex-grow;*/
  transition: transform 200ms;
  flex-basis: 300px;
  min-width: 300px;
  flex-grow: 1;
  align-items: flex-start;
  display: inline-flex;
  border: solid 1px white;
  background-color: color(var(--pulseBlack) alpha(-10%));
  margin: 0.5em;
  padding: 1em;
}
.stakeholder-card:hover{
  transform: translateZ(0.5em);
}
.stakeholder-card:hover:active{
  transform: translateZ(0.5em);
}
.stakeholder-card-info{
  margin-left: 1em;
}

.stakholder-list-name{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/*

.stakeholder-card .stakeholder-info{
  max-width: 185px;
}*/
