{{input id=this.checkboxId name=this.checkboxId type="checkbox" checked=this.variable}}
<label for={{this.checkboxId}}><span class="checkbox-label">{{this.title}}</span><span class="checkbox-toggle"></span></label>
