<h1 class="project-card-title">Midas Health Project</h1>
<h2 class="project-card-client">Ministry of Health</h2>
<p class="project-card-discription">Tousled food truck polaroid, salvia bespoke small batch Pinterest Marfa. Fingerstache authentic craft beer, food truck Banksy Carles kale chips hoodie. Trust fund artisan master cleanse fingerstache post-ironic, fashion axe art party Etsy direct trade retro organic.</p>
{{!--TODO Make this a generic class--}}
<header class="stakeholder-title-header">
  <hr class="stakeholder-title-rule">
  <h2 class="stakeholder-title" >overview</h2>
  <hr class="stakeholder-title-rule">
</header>
<div class="project-card-overview">
  <p class="project-card-overview-info">
    <span class="project-card-overview-info-title">weeks:</span>4
  </p>
  <p class="project-card-overview-info">
    <span class="project-card-overview-info-title">support:</span>64%
  </p>
  <p class="project-card-overview-info">
    <span class="project-card-overview-info-title">health:</span>MED
  </p>
  <p class="project-card-overview-info">
    <span class="project-card-overview-info-title">stakeholders:</span>MED
  </p>
</div>
<footer>
  <button>View</button>
</footer>
