<h1 class="page-title">select a project</h1>
<div class="project-container">

  {{#each this.model as | project | }}
    {{project-card model=project}}
  {{/each}}

</div>
<footer class="action-footer">
  <button>New Project</button>
</footer>
