<nav class="main-nav">
    <div class="nav-items">
      {{#link-to 'select-project'}}Projects{{/link-to}}
    </div>
    <div class="nav-items">
      <a>Stakeholders</a>
    </div>
    <div class="nav-items">
      <a>Logout</a>
    </div>
</nav>
