<h1 class="window-title">View Mode</h1>
<div class="view-mode-controlls">
  {{toggle-switch title="connections" variable=this.connections}}
  {{toggle-switch title="distribution" variable=this.distribution}}
  {{toggle-switch title="history" variable=this.history}}
</div>
